<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.guidelib">
    <application>
        <activity android:name=".GuiActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/splashTheme"
            android:launchMode="singleTop"
            ></activity>
    </application>

</manifest>